*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent;
}

body {
    overflow-x: hidden;
    color: #333;
    font-size: 14px;
    font-family: Arial,'Microsoft Yahei';
    -webkit-overflow-scrolling: touch;
}

body, dd, dl, figure, form, h1, h2, h3, h4, h5, h6, p, td, th {
    margin: 0;
    padding: 0;
    border: 0;
}

li, ol, ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    max-width: 100%;
    border: 0;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    background: transparent;
    color: inherit;
    text-decoration: none;
}

a, em, i, span {
    display: inline-block;
}

b, em, i {
    font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: 14px;
}

button, input, optgroup, select, textarea {
    outline: 0;
    border: 0;
    vertical-align: middle;
    font-family: 'Microsoft Yahei';
}

    button, html input[type=button], input[type=reset], input[type=submit], input[type=text] {
        outline: 0;
        border: 0;
        border-radius: 0;
        cursor: pointer;
        -webkit-appearance: button;
    }

textarea {
    resize: none;
    font-size: 14px;
}

input, textarea, .select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
}

    .select::-ms-expand {
        display: none;
    }

.clearfix:after, .clearfix:before, .mauto:after, .mauto:before {
    display: table;
    content: " ";
}

.clearfix:after, .mauto:after {
    clear: both;
}

.clear {
    height: 0;
    clear: both;
}

.mauto {
    max-width: 1200px;
    margin: 0 auto;
}

.db {
    display: block;
}

.dn {
    display: none;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.ov {
    overflow: hidden;
}

.tar {
    text-align: right;
}

.tal {
    text-align: left;
}

.tac {
    text-align: center;
}

.fb {
    font-weight: bold;
}

.wh1 {
    width: 100%;
    height: 100%;
}

.dt {
    display: table;
}

.dtcell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.dtm {
    display: table;
    margin: 0 auto;
}

.vc, .vcs {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}

.vc {
    -webkit-flex-direction: column;
    flex-direction: column;
}

.els {
    display: inline-block;
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}

.els2 {
    display: block;
    display: -webkit-box;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.po-auto {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.img-md img {
    transform: scale(1);
    -webkit-transform: scale(1);
    transition: all .8s;
    -webkit-transition: all .8s;
}

.img-md:hover img {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.tra, a {
    transition: all .3s;
    -webkit-transition: all .3s;
}

.cf {
    color: #fff;
}

.c0 {
    color: #000;
}

.c6 {
    color: #666;
}

.c9 {
    color: #999;
}

.baf {
    background: #fff;
}

.li25 {
    line-height: 25px;
}

.li30 {
    line-height: 30px;
}

.f12 {
    font-size: 12px;
}

.f16 {
    font-size: 16px;
}

.mt5 {
    margin-top: .05rem;
}

.mt10 {
    margin-top: .1rem;
}

.mt15 {
    margin-top: .15rem;
}

.mt20 {
    margin-top: .2rem;
}

.mt25 {
    margin-top: .25rem;
}

.mt30 {
    margin-top: .3rem;
}

.mt35 {
    margin-top: .35rem;
}

.mt40 {
    margin-top: .4rem;
}

.mt45 {
    margin-top: .45rem;
}

.mt50 {
    margin-top: .5rem;
}

.mr5 {
    margin-right: .05rem;
}

.mr10 {
    margin-right: .1rem;
}

.mr15 {
    margin-right: .15rem;
}

.mr20 {
    margin-right: .2rem;
}

.mr25 {
    margin-right: .25rem;
}

.mr30 {
    margin-right: .3rem;
}

.mr35 {
    margin-right: .35rem;
}

.mr40 {
    margin-right: .4rem;
}

.mr45 {
    margin-right: .45rem;
}

.mr50 {
    margin-right: .5rem;
}

.mb5 {
    margin-bottom: .05rem;
}

.mb10 {
    margin-bottom: .1rem;
}

.mb15 {
    margin-bottom: .15rem;
}

.mb20 {
    margin-bottom: .2rem;
}

.mb25 {
    margin-bottom: .25rem;
}

.mb30 {
    margin-bottom: .3rem;
}

.mb35 {
    margin-bottom: .35rem;
}

.mb40 {
    margin-bottom: .4rem;
}

.mb45 {
    margin-bottom: .45rem;
}

.mb50 {
    margin-bottom: .5rem;
}

.ml5 {
    margin-left: .05rem;
}

.ml10 {
    margin-left: .1rem;
}

.ml15 {
    margin-left: .15rem;
}

.ml20 {
    margin-left: .2rem;
}

.ml25 {
    margin-left: .25rem;
}

.ml30 {
    margin-left: .3rem;
}

.ml35 {
    margin-left: .35rem;
}

.ml40 {
    margin-left: .4rem;
}

.ml45 {
    margin-left: .45rem;
}

.ml50 {
    margin-left: .5rem;
}

.pt5 {
    padding-top: .05rem;
}

.pt10 {
    padding-top: .1rem;
}

.pt15 {
    padding-top: .15rem;
}

.pt20 {
    padding-top: .2rem;
}

.pt25 {
    padding-top: .25rem;
}

.pt30 {
    padding-top: .3rem;
}

.pt35 {
    padding-top: .35rem;
}

.pt40 {
    padding-top: .4rem;
}

.pt45 {
    padding-top: .45rem;
}

.pt50 {
    padding-top: .5rem;
}

.pr5 {
    padding-right: .05rem;
}

.pr10 {
    padding-right: .1rem;
}

.pr15 {
    padding-right: .15rem;
}

.pr20 {
    padding-right: .2rem;
}

.pr25 {
    padding-right: .25rem;
}

.pr30 {
    padding-right: .3rem;
}

.pr35 {
    padding-right: .35rem;
}

.pr40 {
    padding-right: .4rem;
}

.pr45 {
    padding-right: .45rem;
}

.pr50 {
    padding-right: .5rem;
}

.pb5 {
    padding-bottom: .05rem;
}

.pb10 {
    padding-bottom: .1rem;
}

.pb15 {
    padding-bottom: .15rem;
}

.pb20 {
    padding-bottom: .2rem;
}

.pb25 {
    padding-bottom: .25rem;
}

.pb30 {
    padding-bottom: .3rem;
}

.pb35 {
    padding-bottom: .35rem;
}

.pb40 {
    padding-bottom: .4rem;
}

.pb45 {
    padding-bottom: .45rem;
}

.pb50 {
    padding-bottom: .5rem;
}

.pl10 {
    padding-left: .1rem;
}

.pl15 {
    padding-left: .15rem;
}

.pl20 {
    padding-left: .2rem;
}

.pl25 {
    padding-left: .25rem;
}

.pl30 {
    padding-left: .3rem;
}

.pl35 {
    padding-left: .35rem;
}

.pl40 {
    padding-left: .4rem;
}

.pl45 {
    padding-left: .45rem;
}

.pl50 {
    padding-left: .5rem;
}

.lg-12, .lg-3, .lg-4, .lg-6 {
    float: left;
}

.lg-12 {
    width: 100%;
}

.lg-6 {
    width: 50%;
}

.lg-4 {
    width: 33.33333333%;
}

.lg-3 {
    width: 25%;
}

iframe {
    width: 100%;
    height: 500px;
}

@media (max-width:1024px) {
    .md-dn {
        display: none !important;
    }

    .md-db {
        display: block !important;
    }

    .md-12, .md-3, .md-4, .md-6 {
        float: left;
    }

    .md-12 {
        width: 100% !important;
    }

    .md-6 {
        width: 50% !important;
    }

    .md-4 {
        width: 33.33333333% !important;
    }

    .md-3 {
        width: 25% !important;
    }
}

@media (max-width:768px) {
    iframe {
        width: 100%;
        height: 100%;
    }

    .sm-mt5 {
        margin-top: .05rem;
    }

    .sm-mt10 {
        margin-top: .1rem;
    }

    .sm-mt15 {
        margin-top: .15rem;
    }

    .sm-mt20 {
        margin-top: .2rem;
    }

    .sm-mt25 {
        margin-top: .25rem;
    }

    .sm-mt30 {
        margin-top: .3rem;
    }

    .sm-mt35 {
        margin-top: .35rem;
    }

    .sm-mt40 {
        margin-top: .4rem;
    }

    .sm-mt45 {
        margin-top: .45rem;
    }

    .sm-mt50 {
        margin-top: .5rem;
    }

    .sm-mt0 {
        margin-top: 0 !important;
    }

    .sm-mr5 {
        margin-right: .05rem;
    }

    .sm-mr10 {
        margin-right: .1rem;
    }

    .sm-mr15 {
        margin-right: .15rem;
    }

    .sm-mr20 {
        margin-right: .2rem;
    }

    .sm-mr25 {
        margin-right: .25rem;
    }

    .sm-mr30 {
        margin-right: .3rem;
    }

    .sm-mr35 {
        margin-right: .35rem;
    }

    .sm-mr40 {
        margin-right: .4rem;
    }

    .sm-mr45 {
        margin-right: .45rem;
    }

    .sm-mr50 {
        margin-right: .5rem;
    }

    .sm-mr0 {
        margin-right: 0 !important;
    }

    .sm-mb5 {
        margin-bottom: .05rem;
    }

    .sm-mb10 {
        margin-bottom: .1rem;
    }

    .sm-mb15 {
        margin-bottom: .15rem;
    }

    .sm-mb20 {
        margin-bottom: .2rem;
    }

    .sm-mb25 {
        margin-bottom: .25rem;
    }

    .sm-mb30 {
        margin-bottom: .3rem;
    }

    .sm-mb35 {
        margin-bottom: .35rem;
    }

    .sm-mb40 {
        margin-bottom: .4rem;
    }

    .sm-mb45 {
        margin-bottom: .45rem;
    }

    .sm-mb50 {
        margin-bottom: .5rem;
    }

    .sm-mb0 {
        margin-bottom: 0 !important;
    }

    .sm-ml5 {
        margin-left: .05rem;
    }

    .sm-ml10 {
        margin-left: .1rem;
    }

    .sm-ml15 {
        margin-left: .15rem;
    }

    .sm-ml20 {
        margin-left: .2rem;
    }

    .sm-ml25 {
        margin-left: .25rem;
    }

    .sm-ml30 {
        margin-left: .3rem;
    }

    .sm-ml35 {
        margin-left: .35rem;
    }

    .sm-ml40 {
        margin-left: .4rem;
    }

    .sm-ml45 {
        margin-left: .45rem;
    }

    .sm-ml50 {
        margin-left: .5rem;
    }

    .sm-ml0 {
        margin-left: 0 !important;
    }

    .sm-ml0 {
        margin: 0 !important;
    }

    .sm-pt5 {
        padding-top: .05rem;
    }

    .sm-pt10 {
        padding-top: .1rem;
    }

    .sm-pt15 {
        padding-top: .15rem;
    }

    .sm-pt20 {
        padding-top: .2rem;
    }

    .sm-pt25 {
        padding-top: .25rem;
    }

    .sm-pt30 {
        padding-top: .3rem;
    }

    .sm-pt35 {
        padding-top: .35rem;
    }

    .sm-pt40 {
        padding-top: .4rem;
    }

    .sm-pt45 {
        padding-top: .45rem;
    }

    .sm-pt50 {
        padding-top: .5rem;
    }

    .sm-pt0 {
        padding-top: 0 !important;
    }

    .sm-pr5 {
        padding-right: .05rem;
    }

    .sm-pr10 {
        padding-right: .1rem;
    }

    .sm-pr15 {
        padding-right: .15rem;
    }

    .sm-pr20 {
        padding-right: .2rem;
    }

    .sm-pr25 {
        padding-right: .25rem;
    }

    .sm-pr30 {
        padding-right: .3rem;
    }

    .sm-pr35 {
        padding-right: .35rem;
    }

    .sm-pr40 {
        padding-right: .4rem;
    }

    .sm-pr45 {
        padding-right: .45rem;
    }

    .sm-pr50 {
        padding-right: .5rem;
    }

    .sm-pr0 {
        padding-right: 0 !important;
    }

    .sm-pb5 {
        padding-right: .05rem;
    }

    .sm-pb10 {
        padding-bottom: .1rem;
    }

    .sm-pb15 {
        padding-bottom: .15rem;
    }

    .sm-pb20 {
        padding-bottom: .2rem;
    }

    .sm-pb25 {
        padding-bottom: .25rem;
    }

    .sm-pb30 {
        padding-bottom: .3rem;
    }

    .sm-pb35 {
        padding-bottom: .35rem;
    }

    .sm-pb40 {
        padding-bottom: .4rem;
    }

    .sm-pb45 {
        padding-bottom: .45rem;
    }

    .sm-pb50 {
        padding-bottom: .5rem;
    }

    .sm-pb0 {
        padding-bottom: 0 !important;
    }

    .sm-pl10 {
        padding-left: .1rem;
    }

    .sm-pl15 {
        padding-left: .15rem;
    }

    .sm-pl20 {
        padding-left: .2rem;
    }

    .sm-pl25 {
        padding-left: .25rem;
    }

    .sm-pl30 {
        padding-left: .3rem;
    }

    .sm-pl35 {
        padding-left: .35rem;
    }

    .sm-pl40 {
        padding-left: .4rem;
    }

    .sm-pl45 {
        padding-left: .45rem;
    }

    .sm-pl50 {
        padding-left: .5rem;
    }

    .sm-pl0 {
        padding-left: 0 !important;
    }

    .sm-p0 {
        padding: 0 !important;
    }

    .sm-db {
        display: block !important;
    }

    .sm-dn {
        display: none !important;
    }

    .sm-12, .sm-3, .sm-4, .sm-6 {
        float: left;
    }

    .sm-12 {
        width: 100% !important;
    }

    .sm-6 {
        width: 50% !important;
    }

    .sm-4 {
        width: 33.33333333% !important;
    }

    .sm-3 {
        width: 25% !important;
    }

    .sm-ha {
        height: auto !important;
    }
}

.animation {
    visibility: hidden;
    opacity: 0;
}

.fadel, .fader, .fadeup, .fadez {
    visibility: visible;
}

.fadeup {
    animation: slideInUp ease-out .6s forwards;
    -webkit-animation: slideInUp ease-out .6s forwards;
}

@keyframes slideInUp {
    from {
        transform: translate3d(0, 50%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        -webkit-transform: translate3d(0, 50%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
    }
}

.fadel {
    animation: slideInLeft ease-out .6s forwards;
    -webkit-animation: slideInLeft ease-out .6s forwards;
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-50%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-50%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
    }
}

.fader {
    animation: slideInRight ease-out .6s forwards;
    -webkit-animation: slideInRight ease-out .6s forwards;
}

@keyframes slideInRight {
    from {
        transform: translate3d(50%, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(50%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
    }
}

.fadez {
    animation: zoomIn ease-out .6s forwards;
    -webkit-animation: zoomIn ease-out .6s forwards;
}

@keyframes zoomIn {
    from {
        transform: scale3d(.3, .3, .3);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@-webkit-keyframes zoomIn {
    from {
        -webkit-transform: scale3d(.3, .3, .3);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
    }
}

.owl-carousel .owl-wrapper:after {
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
    content: ".";
    line-height: 0;
}

.owl-carousel {
    position: relative;
    display: none;
    width: 100%;
    -ms-touch-action: pan-y;
}

    .owl-carousel .owl-wrapper {
        position: relative;
        display: none;
        -webkit-transform: translate3d(0, 0, 0);
    }

    .owl-carousel .owl-wrapper-outer {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

        .owl-carousel .owl-wrapper-outer.autoHeight {
            -webkit-transition: height .3s ease-in-out;
            -moz-transition: height .3s ease-in-out;
            -o-transition: height .3s ease-in-out;
            transition: height .3s ease-in-out;
            -ms-transition: height .3s ease-in-out;
        }

    .owl-carousel .owl-item {
        float: left;
    }

.owl-controls .owl-buttons div, .owl-controls .owl-page {
    vertical-align: middle;
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -ms-transform: translate3d(0, 0, 0);
}

.owl-controls {
    text-align: center;
}

.owl-pagination {
    position: absolute;
    bottom: 25px;
    width: 100%;
    font-size: 0;
}

.owl-controls .owl-buttons div {
    position: absolute;
    top: 50%;
    display: inline-block;
    text-indent: -99999px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    zoom: 1;
    *display: inline;
}

.owl-controls .owl-buttons .owl-prev {
    left: 0;
}

.owl-controls .owl-buttons .owl-next {
    right: 0;
}

.owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
}

    .owl-controls .owl-page span {
        display: block;
        margin: 0 5px;
        width: 12px;
        height: 12px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #999;
    }

    .owl-controls .owl-page.active span, .owl-controls.clickable .owl-page:hover span {
        background: #333;
    }

    .owl-controls .owl-page span.owl-numbers {
        padding: 2px 10px;
        width: auto;
        height: auto;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        color: #fff;
        font-size: 12px;
    }

.owl-origin {
    -webkit-perspective: 1200px;
    -webkit-perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 50%;
    -moz-perspective: 1200px;
    -moz-perspective-origin-x: 50%;
    -moz-perspective-origin-y: 50%;
    perspective: 1200px;
}

.owl-fade-out {
    z-index: 10;
    -webkit-animation: fadeOut .7s both ease;
    -moz-animation: fadeOut .7s both ease;
    animation: fadeOut .7s both ease;
}

.owl-fade-in {
    -webkit-animation: fadeIn .7s both ease;
    -moz-animation: fadeIn .7s both ease;
    animation: fadeIn .7s both ease;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
