<?xml version="1.0"?>
<appSettings>
  <!--数据库连接字符串-->
  <add key="ConnectionString" value="Server=222.76.218.87;Database=t32270;Uid=t32270;Pwd=cmq@ah9k;" />

  <!--后台默认管理版本id-->
  <add key="ManageDefaultWebSiteID" value="10001" />
  <add value="and|exec|insert|select|delete|update|chr|mid|master|truncate|char|declare|join|cmd" key="SqlInject"/>
</appSettings>
