<?xml version="1.0"?>
<CustomConfiguration>
  <urls>
    <!--注意：destinationUrl中的 “&”用 “^”或者“&amp;”代替 -->
    <!--注意：virtualUrl中的正则字符判断用“([A-Za-z\s]+)”，数字判断用“(\d+)” -->
    <!--PC站-->
    <!--<add virtualUrl="~/Index.aspx" destinationUrl="~/Web/Index.aspx" />
    <add virtualUrl="~/Index.html" destinationUrl="~/Web/Index.aspx" />
     <add virtualUrl="~/About/Index.html" destinationUrl="~/Web/About/View.aspx?id=10742" />
    <add virtualUrl="~/About/(\d+)/Index.html" destinationUrl="~/Web/About/View.aspx?id=$1" />
     <add virtualUrl="~/News/Index.html" destinationUrl="~/Web/News/List.aspx" />
    <add virtualUrl="~/News/(\d+)/(\d+)/Index.html" destinationUrl="~/Web/News/View.aspx?tid=$1&amp;id=$2" />
    <add virtualUrl="~/Discount/Index.html" destinationUrl="~/Web/Discount/List.aspx" />
    <add virtualUrl="~/Shop/Index.html" destinationUrl="~/Web/Shop/List.aspx" />
    <add virtualUrl="~/Shop/Search.html" destinationUrl="~/Web/Shop/Search.aspx" />
    <add virtualUrl="~/Shop/List.html" destinationUrl="~/Web/Shop/mList.aspx" />
    <add virtualUrl="~/Shop/(\d+)/Index.html" destinationUrl="~/Web/Shop/mView.aspx?id=$1" />
    <add virtualUrl="~/Discount/(\d+)/Index.html" destinationUrl="~/Web/Discount/View.aspx?id=$1" />
    <add virtualUrl="~/Company/Pic/Index.html" destinationUrl="~/Web/Company/Pic/List.aspx?m=p" />
    <add virtualUrl="~/Company/Pic/(\d+)/List.html" destinationUrl="~/Web/Company/Pic/List.aspx?id=$1&amp;m=p" />
    <add virtualUrl="~/Company/Video/List.html" destinationUrl="~/Web/Company/Video/List.aspx?m=v" />
    <add virtualUrl="~/Company/Video/(\d+)/Index.html" destinationUrl="~/Web/Company/Video/View.aspx?id=$1&amp;m=v" />
    <add virtualUrl="~/Link/index.html" destinationUrl="~/Web/Link/List.aspx" />
    <add virtualUrl="~/Service/Index.html" destinationUrl="~/Web/Service/View.aspx?id=10745&amp;m=10745" />
    <add virtualUrl="~/Service/(\d+)/Index.html" destinationUrl="~/Web/Service/View.aspx?id=$1&amp;m=$1" />
    --><!--会员中心--><!--
    <add virtualUrl="~/Login.html" destinationUrl="~/Web/UserCenter/Login.aspx" />
    <add virtualUrl="~/LoginOut.html" destinationUrl="~/Web/UserCenter/LoginOut.aspx" />
    <add virtualUrl="~/Register.html" destinationUrl="~/Web/UserCenter/Register.aspx" />
    <add virtualUrl="~/Registerok.html" destinationUrl="~/Web/UserCenter/Registerok.aspx" />
    <add virtualUrl="~/ForgotPwd.html" destinationUrl="~/Web/UserCenter/ForgotPwd.aspx" />
    <add virtualUrl="~/UserCenter/Car.html" destinationUrl="~/Web/UserCenter/Car/Car.aspx" />
    <add virtualUrl="~/UserCenter/Confirm.html" destinationUrl="~/Web/UserCenter/Car/Confirm.aspx" />
    <add virtualUrl="~/UserCenter/Car/([A-Za-z0-9,\s]+)/Confirm.html" destinationUrl="~/Web/UserCenter/Car/Confirm.aspx?carids=$1" />
    <add virtualUrl="~/UserCenter/Success.html" destinationUrl="~/Web/UserCenter/Car/Success.aspx" />
    <add virtualUrl="~/Pay/(\d+)/Index.html" destinationUrl="~/Web/Payment/Pay.aspx?id=$1" />

    <add virtualUrl="~/Pay/MakeQRCode/Index.html" destinationUrl="~/Web/Payment/MakeQRCode.aspx" />
    <add virtualUrl="~/Pay/WxPay/(\d+)/Index.html" destinationUrl="~/Web/Payment/WxPay.aspx?id=$1" />
    
    <add virtualUrl="~/UserCenter/Index.html" destinationUrl="~/Web/UserCenter/Index.aspx" />
    <add virtualUrl="~/UserCenter/Info/Index.html" destinationUrl="~/Web/UserCenter/Edit.aspx?m=3" />
    --><!--<add virtualUrl="~/UserCenter/Address/Index.html" destinationUrl="~/Web/UserCenter/Address.aspx?m=3" />--><!--
    <add virtualUrl="~/UserCenter/Address/List.html" destinationUrl="~/Web/UserCenter/Address/List.aspx" />
    <add virtualUrl="~/UserCenter/Address/Edit.html" destinationUrl="~/Web/UserCenter/Address/Edit.aspx" />
    
    <add virtualUrl="~/UserCenter/ModifyPwd.html" destinationUrl="~/Web/UserCenter/ModifyPwd.aspx?m=3" />
    <add virtualUrl="~/UserCenter/MemberMessage/List.html" destinationUrl="~/Web/UserCenter/MemberMessage/List.aspx?m=3" />
    <add virtualUrl="~/UserCenter/MemberMessage/(\d+)/Index.html" destinationUrl="~/Web/UserCenter/MemberMessage/View.aspx?id=$1&amp;m=3" />
    
    <add virtualUrl="~/UserCenter/Order/List.html" destinationUrl="~/Web/UserCenter/Order/List.aspx?m=1" />
    <add virtualUrl="~/UserCenter/Order/(\d+)/List.html" destinationUrl="~/Web/UserCenter/Order/List.aspx?State=$1" />
    <add virtualUrl="~/UserCenter/Order/(\d+)/(\d+)/View.html" destinationUrl="~/Web/UserCenter/Order/View.aspx?ID=$1&amp;State=$2" />
    <add virtualUrl="~/UserCenter/Integral/List.html" destinationUrl="~/Web/UserCenter/Integral/List.aspx?m=1" />
    <add virtualUrl="~/UserCenter/Coupon/List.html" destinationUrl="~/Web/UserCenter/Coupon/List.aspx?m=1" />
    <add virtualUrl="~/UserCenter/Favorites/List.html" destinationUrl="~/Web/UserCenter/Favorites/List.aspx?m=2" />
    <add virtualUrl="~/UserCenter/Message/Edit.html" destinationUrl="~/Web/UserCenter/Message/Edit.aspx?m=7" />
    <add virtualUrl="~/UserCenter/Comment/List.html" destinationUrl="~/Web/UserCenter/Comment/List.aspx?m=8" />
    <add virtualUrl="~/UserCenter/Comment/(\d+)/(\d+)/Edit.html" destinationUrl="~/Web/UserCenter/Comment/Edit.aspx?oid=$1&amp;pid=$2&amp;m=8" />
    
    
    --><!--产品中心--><!--
    <add virtualUrl="~/p/([A-Za-z\s]+)/([A-Za-z\s]+)/([A-Za-z\s]+)/([A-Za-z0-9\s]+)/show.html" destinationUrl="~/Web/Product/Show.aspx?m=$1&amp;s=$2&amp;bname=$3&amp;t1=$4" />
    <add virtualUrl="~/p/([A-Za-z\s]+)/([A-Za-z\s]+)/([A-Za-z\s]+)/([A-Za-z0-9\s]+)/([A-Za-z0-9\s]+)/([A-Za-z0-9\s]+)/list.html" destinationUrl="~/Web/Product/List.aspx?m=$1&amp;s=$2&amp;bname=$3&amp;t1=$4&amp;t2=$5&amp;t3=$6" />
    <add virtualUrl="~/p/([A-Za-z\s]+)/([A-Za-z\s]+)/([A-Za-z\s]+)/([A-Za-z0-9\s]+)/([A-Za-z0-9\s]+)/([A-Za-z0-9\s]+)/(\d+)/view.html" destinationUrl="~/Web/Product/View.aspx?m=$1&amp;s=$2&amp;bname=$3&amp;t1=$4&amp;t2=$5&amp;t3=$6&amp;id=$7" />
    <add virtualUrl="~/p/catalog/([A-Za-z0-9\s]+)/([A-Za-z0-9\s]+)/([A-Za-z0-9\s]+)/([A-Za-z0-9\s]+)/list.html" destinationUrl="~/Web/Product/Catalog.aspx?m=catalog&amp;s=$1&amp;bname=$2&amp;t1=$3&amp;t2=$4" />

    <add virtualUrl="~/p/search.html" destinationUrl="~/Web/Product/Search.aspx" />
    <add virtualUrl="~/p/list.html" destinationUrl="~/Web/Product/List.aspx" />
    <add virtualUrl="~/p/(\d+)/List.html" destinationUrl="~/Web/Product/List.aspx?TypeID=$1" />
    <add virtualUrl="~/p/(\d+)/(\d+)/List.html" destinationUrl="~/Web/Product/List.aspx?TypeID=$1&amp;order=$2" />
    <add virtualUrl="~/p/(\d+)/(\d+)/(\d+)/List.html" destinationUrl="~/Web/Product/List.aspx?TypeID=$1&amp;order=$2&amp;page=$3" />
    <add virtualUrl="~/p/(\d+)/(\d+)/(\d+)/(.+?)/List.html" destinationUrl="~/Web/Product/List.aspx?TypeID=$1&amp;order=$2&amp;page=$3&amp;mykey=$4" />
    <add virtualUrl="~/p/(\d+)/View.html" destinationUrl="~/Web/Product/View.aspx?ID=$1" />
    <add virtualUrl="~/p/new.html" destinationUrl="~/Web/Product/New.aspx" />
    <add virtualUrl="~/p/sale.html" destinationUrl="~/Web/Product/Sale.aspx" />
    <add virtualUrl="~/s/School.html" destinationUrl="~/Web/School/School.aspx" />
    <add virtualUrl="~/s/(\d+)/School.html" destinationUrl="~/Web/School/School.aspx?TypeID=$1" />
    <add virtualUrl="~/s/(\d+)/(\d+)/School.html" destinationUrl="~/Web/School/School.aspx?TypeID=$1&amp;page=$2" />
    <add virtualUrl="~/s/(\d+)/(\d+)/SchoolDetail.html" destinationUrl="~/Web/School/SchoolDetail.aspx?TypeID=$1&amp;ID=$2" />
    <add virtualUrl="~/b/Brand.html" destinationUrl="~/Web/Brand/Brand.aspx" />
    <add virtualUrl="~/b/history.html" destinationUrl="~/Web/Brand/history.aspx" />
    <add virtualUrl="~/b/culture.html" destinationUrl="~/Web/Brand/culture.aspx" />
    <add virtualUrl="~/b/duty.html" destinationUrl="~/Web/Brand/duty.aspx" />
    <add virtualUrl="~/b/event.html" destinationUrl="~/Web/Brand/event.aspx" />
    <add virtualUrl="~/b/news.html" destinationUrl="~/Web/Brand/news.aspx" />
    <add virtualUrl="~/b/(\d+)/news.html" destinationUrl="~/Web/Brand/news.aspx?page=$1" />
    <add virtualUrl="~/b/(\d+)/(\d+)/(\d+)/(\d+)/news.html" destinationUrl="~/Web/Brand/news.aspx?page=$1&amp;year=$2&amp;month=$3&amp;day=$4" />
    <add virtualUrl="~/b/(\d+)/(\d+)/(\d+)/(\d+)/(.+?)/news.html" destinationUrl="~/Web/Brand/news.aspx?page=$1&amp;year=$2&amp;month=$3&amp;day=$4&amp;keyword=$5" />
    <add virtualUrl="~/b/(\d+)/newsDetail.html" destinationUrl="~/Web/Brand/NewsDetail.aspx?ID=$1" />-->
   
  </urls>
</CustomConfiguration>
