@charset 'utf-8';
/*remove the gray background color from tap, default value is inherit*/
html{min-height:100%;-webkit-tap-highlight-color: transparent;}
body{min-height:100%; font-family:'Microsoft Yahei', 'Arial';  font-size:14px; color: #333; -webkit-overflow-scrolling: touch; overflow-x:hidden;}
/*dt,li没有margin和padding*/
body,h1,h2,h3,h4,h5,h6,dl,dd,p,th,td,form,figure{ margin:0; }
ul,ol,menu{ margin:0;padding:0; }
ul{list-style-type: none;}
img{ vertical-align: middle; border:0; }
table{ border-collapse: collapse; border-spacing: 0; }
a  { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent;color:#000; transition:all 300ms ease 0s;}
i  { font-style:normal; }
h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h1,h2,h3,h4,h5,h6{ line-height: 2; font-weight: normal; }
button,input,optgroup,select,textarea{border:0;font-family: 'Microsoft Yahei';}
button,input{border-radius:0;padding:0; outline: none; margin:0;}
textarea,input{-webkit-user-modify: read-write-plaintext-only;/*Android 下 input focus 消除高亮外框*/}

::-webkit-input-placeholder { color: #d2d2d2; } 
:-moz-placeholder { color: #d2d2d2; } 
::-moz-placeholder { color: #d2d2d2; } 
:-ms-input-placeholder { color: #d2d2d2; } 
img{ max-width: 100%;}
/**********常用类简写***********/
.w100{ width:100%;}
.h100{ height:100%;}
.w50{ width:50%;}
.ma{ margin-left: auto; margin-right: auto;}
.clr{ display:block; clear:both;font-size:1px;width:1px;height:0;visibility:hidden; overflow:hidden;}
.clearfix:after{content:".";display:block; height:0;clear:both;visibility:hidden;} /* only FF */
.ofhidden{overflow:hidden;}
.ovh{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.ovh2{overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
.ovh3{-webkit-line-clamp: 3;}
.fa{ font-family: "Arial";}
.fs{ font-family: "宋体";}
.z9{ z-index: 9;}
.overhidden{ overflow:hidden;}
.img100{width: 100%; height: 100%;}
.imgw100{ width:100%; height:auto;}
.imgh100{ width:auto; height:100%}
.imgam{ width:auto; max-width:100%; height:auto;max-height:100%;}
.imgvt{ position:absolute; left:0; top:0; bottom:0; right:0; margin:auto; max-height: 100%; max-width: 100%; width:auto; height:auto;}
.imgvt85{ max-height: 85%; max-width: 85%;}
.vt{ vertical-align:top;}
.vm{ vertical-align:middle;}
.db{ display:block;}
.dib{ display:inline-block; *zoom:1; *display:inline;}
.tb{ display:table;}
.tb_cell{ display:table-cell; vertical-align: middle;}
.dn{ display:none;}
.fl{ float:left;}
.fr{ float:right;}
.fb{ font-weight:bold;}
.rel{ position:relative;}
.abs{ position:absolute;}
.tac{ text-align:center;}
.tal{ text-align:left;}
.tar{ text-align:right;}
.taj{ text-align: justify;}
.cf{ color:#fff;}
.c3{ color:#333;}
.c9{ color:#999;}
.c6{ color:#666;}
.c0{ color:#000;}
.mc{ color:#0068b7;}
.red{ color:#ff0000;}
.cgrey{ color:#7f7e7e;}
.cd4{ color:#d4d4d4;}
.bgcf{ background-color: #fff;}


.fs0{ font-size: 0;}
.fs12{ font-size:12px;}
.fs13{ font-size: 13px;}
.fs14{ font-size:14px;}
.fs15{ font-size:15px;}
.fs16{ font-size:16px;}
.fs18{ font-size:18px;}
.fs20{ font-size:20px;}
.fs22{ font-size:22px;}
.fs24{ font-size:24px;}
.fs26{ font-size:26px;}
.fs27{ font-size:27px;}
.fs28{ font-size:28px;}
.fs30{ font-size:30px;}
.fs32{ font-size:32px;}
.fs34{ font-size:34px;}
.fs36{ font-size: 36px;}
.fs40{ font-size:40px;}
.fs42{ font-size:42px;}
.fs44{ font-size:44px;}
.fs46{ font-size:46px;}
.fs48{ font-size:48px;}

.li16{ line-height:16px;}
.li18{ line-height:18px;}
.li20{ line-height:20px;}
.li22{ line-height:22px;}
.li23{ line-height:23px;}
.li24{ line-height:24px;}
.li25{ line-height:25px;}
.li26{ line-height:26px;}
.li28{ line-height:28px;}
.li30{ line-height:30px;}
.li32{ line-height:32px;}
.li34{ line-height:34px;}
.li36{ line-height:36px;}
.li38{ line-height:38px;}
.li40{ line-height:40px;}
.li42{ line-height:42px;}
.li44{ line-height:44px;}
.li46{ line-height:46px;}
.li48{ line-height:48px;}
.li50{ line-height:50px;}
.li52{ line-height:52px;}
.li54{ line-height:54px;}
.li55{ line-height:55px;}
.li56{ line-height:56px;}
.li58{ line-height:58px;}
.li60{ line-height:60px;}
.li62{ line-height:62px;}
.li64{ line-height:64px;}
.li66{ line-height:66px;}
.li68{ line-height:68px;}

.mt5{ margin-top: 5px;}
.mt10{ margin-top: 10px;}
.mt15{ margin-top: 15px;}
.mt17{ margin-top: 17px;}
.mt20{ margin-top: 20px;}
.mt25{ margin-top: 25px;}
.mt30{ margin-top: 30px;}
.mt35{ margin-top: 35px;}
.mt40{ margin-top: 40px;}
.mt45{ margin-top: 45px;}
.mt50{ margin-top: 50px;}
.mt55{ margin-top: 55px;}
.mt60{ margin-top: 60px;}
.mt65{ margin-top: 65px;}

.mb5{ margin-bottom: 5px;}
.mb8{ margin-bottom: 8px;}
.mb10{ margin-bottom: 10px;}
.mb15{ margin-bottom: 15px;}
.mb20{ margin-bottom: 20px;}
.mb25{ margin-bottom: 25px;}
.mb30{ margin-bottom: 30px;}
.mb35{ margin-bottom: 35px;}
.mb40{ margin-bottom: 40px;}
.mb45{ margin-bottom: 45px;}
.mb50{ margin-bottom: 50px;}
.mb55{ margin-bottom: 55px;}
.mb60{ margin-bottom: 60px;}
.mb65{ margin-bottom: 65px;}

.ml5{ margin-left: 5px;}
.ml10{ margin-left: 10px;}
.ml15{ margin-left: 15px;}
.ml20{ margin-left: 20px;}
.ml25{ margin-left: 25px;}
.ml30{ margin-left: 30px;}
.ml35{ margin-left: 35px;}
.ml40{ margin-left: 40px;}
.ml45{ margin-left: 45px;}
.ml50{ margin-left: 50px;}
.ml55{ margin-left: 55px;}
.ml60{ margin-left: 60px;}
.ml65{ margin-left: 65px;}

.mr5{ margin-right: 5px;}
.mr10{ margin-right: 10px;}
.mr15{ margin-right: 15px;}
.mr20{ margin-right: 20px;}
.mr21{ margin-right: 21px;}
.mr25{ margin-right: 25px;}
.mr30{ margin-right: 30px;}
.mr35{ margin-right: 35px;}
.mr40{ margin-right: 40px;}
.mr45{ margin-right: 45px;}
.mr50{ margin-right: 50px;}
.mr55{ margin-right: 55px;}
.mr60{ margin-right: 60px;}
.mr65{ margin-right: 65px;}

.pt5{ padding-top: 5px;}
.pt10{ padding-top: 10px;}
.pt14{ padding-top: 14px;}
.pt15{ padding-top: 15px;}
.pt20{ padding-top: 20px;}
.pt25{ padding-top: 25px;}
.pt30{ padding-top: 30px;}
.pt35{ padding-top: 35px;}
.pt40{ padding-top: 40px;}
.pt45{ padding-top: 45px;}
.pt50{ padding-top: 50px;}
.pt55{ padding-top: 55px;}
.pt60{ padding-top: 60px;}
.pt65{ padding-top: 65px;}

.pb5{ padding-bottom: 5px;}
.pb9{ padding-bottom: 9px;}
.pb10{ padding-bottom: 10px;}
.pb15{ padding-bottom: 15px;}
.pb20{ padding-bottom: 20px;}
.pb25{ padding-bottom: 25px;}
.pb30{ padding-bottom: 30px;}
.pb35{ padding-bottom: 35px;}
.pb40{ padding-bottom: 40px;}
.pb45{ padding-bottom: 45px;}
.pb50{ padding-bottom: 50px;}
.pb55{ padding-bottom: 55px;}
.pb60{ padding-bottom: 60px;}
.pb65{ padding-bottom: 65px;}

.pl5{ padding-left: 5px;}
.pl10{ padding-left: 10px;}
.pl15{ padding-left: 15px;}
.pl20{ padding-left: 20px;}
.pl25{ padding-left: 25px;}
.pl30{ padding-left: 30px;}
.pl35{ padding-left: 35px;}
.pl40{ padding-left: 40px;}
.pl45{ padding-left: 45px;}
.pl50{ padding-left: 50px;}
.pl55{ padding-left: 55px;}
.pl60{ padding-left: 60px;}
.pl65{ padding-left: 65px;}

.pr5{ padding-right: 5px;}
.pr10{ padding-right: 10px;}
.pr15{ padding-right: 15px;}
.pr20{ padding-right: 20px;}
.pr25{ padding-right: 25px;}
.pr30{ padding-right: 30px;}
.pr35{ padding-right: 35px;}
.pr40{ padding-right: 40px;}
.pr45{ padding-right: 45px;}
.pr50{ padding-right: 50px;}
.pr55{ padding-right: 55px;}
.pr60{ padding-right: 60px;}
.pr65{ padding-right: 65px;}
